*, *::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container div {
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f7f7f7
}

#clockSelector {
  margin-bottom: 1em;
  background-color: white;
  padding: 0;
}

#clockSelector select {
  font-size: 20px;
}

select {
  /*
   * custom select styling
   * needs a div with background color above it
  */

  /* make arrow and background */
  background:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  /* styling and reset */

  border: thin solid black;
  font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  padding: 0.5em 2.5em 0.5em 1em;

  /* reset */

  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

#displaySwitcher {
  padding: 0;
  background-color: white;
  
}

/* Modal */
.modal {
  /* backdrop */
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: auto;
  background-color: rgb(0,0,0); // fallback color;
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  /* modal box */
  background-color: #fefefe;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  overflow: auto;
}

.close {
  /* close button */
  color: #aaa;
  display: inline-block;
  align-self: flex-end;

  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* fadein animation */
.fadein {
  animation: 0.3s ease-in 0s fadein;
}

@keyframes fadein {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

/* fadeout animation */
.fadeout {
  animation: 0.3s ease-in 0s fadeout;
}

@keyframes fadeout {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

/* #timezone-picker {
  transform: scale(0.8);
} */

/*
loading ring
from loading.io
*/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #222 transparent #222 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
